RAINFALL PREDICTOR DEV

In [ ]:
# data manipulators
import pandas as pd
import numpy as np

# machine learning libraries
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.utils import resample

# deep learning libraries
import seaborn as sns

# visualization libraries
import matplotlib.pyplot as plt

# data serialization
import pickle

In [20]:
# data loading
raw_df = pd.read_csv(r'D:\Dsoft\Projects\ML\data\rainfall.csv')

In [24]:
# EDA
print("Shape:", raw_df.shape)
print("Info:")
print(raw_df.info())

Shape: (366, 12)
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day                     366 non-null    int64
 1   pressure                366 non-null    float64
 2   maxtemp                 366 non-null    float64
 3   temparature             366 non-null    float64
 4   mintemp                 366 non-null    float64
 5   dewpoint                366 non-null    float64
 6   humidity                366 non-null    int64
 7   cloud                   366 non-null    int64
 8   rainfall                366 non-null    object
 9   sunshine                366 non-null    float64
 10           winddirection  365 non-null    float64
 11  windspeed               365 non-null    float64
dtypes: float64(8), int64(3), object(1)
memory usage: 34.4+ KB
None

In [25]:
print("Description:")
print(raw_df.describe())
print("Missing Values:")
print(raw_df.isnull().sum())

Description:
              day    pressure      maxtemp  temparature     mintemp  \
count  366.000000   366.000000  366.000000   366.000000  366.000000
mean    15.756831  1013.742623   26.191257    23.747268   21.894536
std      8.823592     6.414776    5.978343     5.632813    5.594153
min      1.000000   998.500000    7.100000     4.900000    3.100000
25%      8.000000  1008.500000   21.200000    18.825000   17.125000
50%     16.000000  1013.000000   27.750000    25.450000   23.700000
75%     23.000000  1018.100000   31.200000    28.600000   26.575000
max     31.000000  1034.600000   36.300000    32.400000   30.000000

         dewpoint   humidity       cloud     sunshine           winddirection  \
count  366.000000  366.000000  366.000000  366.000000              365.000000
mean    19.989071   80.177596   71.128415    4.419399              101.506849
std      5.997021   10.062470   21.798012    3.934398               81.723724
min     -0.400000   36.000000    0.000000    0.000000               10.000000
25%     16.125000   75.000000   58.000000    0.500000               40.000000
50%     21.950000   80.500000   80.000000    3.500000               70.000000
75%     25.000000   87.000000   88.000000    8.200000              190.000000
max     26.700000   98.000000  100.000000   12.100000              350.000000

        windspeed
count  365.000000
mean    21.536986
std     10.069712
min      4.400000
25%     13.700000
50%     20.500000
75%     27.900000
max     59.500000
Missing Values:
day                       0
pressure                  0
maxtemp                   0
temparature               0
mintemp                   0
dewpoint                  0
humidity                  0
cloud                     0
rainfall                  0
sunshine                  0
         winddirection    1
windspeed                 1
dtype: int64

In [ ]:
print(raw_df.info())

In [ ]:
# data preprocessing

# Standardize column names
raw_df.columns = raw_df.columns.str.strip().str.lower().str.replace(' ', '_')

In [19]:
type(raw_df.columns.str)

pandas.core.strings.accessor.StringMethods