In [12]:

import pandas as pd
from snowflake.connector.pandas_tools import write_pandas
import json

import snowflake

In [4]:

# Read parquet file
df = pd.read_json(r'../data/cibilscore/cibil.json')

[connections.my_example_connection]
account = "TDDIQCP-FO64861"
user = "ENDA"
password = "Sarcwader12.34"
role = "ACCOUNTADMIN"
warehouse = "SNOWFLAKE_LEARNING_WH"
database = "MUNNI"
schema = "MADDY"

In [13]:

# Snowflake connection parameters
conn = snowflake.connector.connect(
    user='ENDA',
    password='Sarcwader12.34',
    account='TDDIQCP-FO64861',
    warehouse='SNOWFLAKE_LEARNING_WH',
    database='MUNNI',
    schema='MADDY'
)

In [6]:

# Write to Snowflake (assumes table already exists with VARIANT columns for the last five)
success, nchunks, nrows, _ = write_pandas(conn, df, 'CIBILSCORE')

MissingDependencyError: Missing optional dependency: pandas

In [7]:
import pandas as pd
df = pd.read_excel(r"D:\Dsoft\Projects\ML\data\cibilscore\case_study1.xlsx")

In [8]:
df.to_csv(r"..\data\cibilscore.csv", index=False)

In [9]:
df

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,...,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.00,0.200,0.800,...,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.00,1.000,0.000,...,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.00,1.000,0.000,...,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.00,1.000,0.000,...,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.00,0.333,0.667,...,0,0,0,0,0,3,0,2,131,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51331,51332,3,0,3,1,0,0.333,0.00,1.000,0.000,...,0,2,0,0,0,0,3,1,24,5
51332,51333,4,2,2,0,1,0.000,0.25,0.500,0.500,...,0,2,0,0,0,2,2,0,74,7
51333,51334,2,1,1,1,1,0.500,0.50,0.500,0.500,...,0,2,0,0,0,0,2,0,9,5
51334,51335,2,1,1,0,0,0.000,0.00,0.500,0.500,...,0,2,0,0,0,0,2,0,15,8
51335,51336,1,0,1,0,0,0.000,0.00,1.000,0.000,...,0,0,0,0,0,1,0,0,20,20

In [10]:

# Combine all columns except RAW_VARIANT into a dict for each row
df['RAW_VARIANT'] = df.apply(lambda row: json.dumps(row.drop('RAW_VARIANT', errors='ignore').to_dict()), axis=1)

In [7]:
df["RAW_VARIANT"].loc[0]  # Display the first row of RAW_VARIANT

'{"AGE_NEWEST_TL": 18.0, "AGE_OLDEST_TL": 72.0, "AUTO_TL": 0.0, "CC_TL": 0.0, "CONSUMER_TL": 0.0, "GOLD_TL": 1.0, "HOME_TL": 0.0, "OTHER_TL": 0.0, "PCT_ACTIVE_TL": 0.2, "PCT_CLOSED_TL": 0.8, "PCT_TL_CLOSED_L12M": 0.0, "PCT_TL_CLOSED_L6M": 0.0, "PCT_TL_OPEN_L12M": 0.0, "PCT_TL_OPEN_L6M": 0.0, "PL_TL": 4.0, "PROSPECTID": 1.0, "SECURED_TL": 1.0, "TOTAL_TL": 5.0, "TOTAL_TL_OPENED_L12M": 0.0, "TOTAL_TL_OPENED_L6M": 0.0, "TOT_ACTIVE_TL": 1.0, "TOT_CLOSED_TL": 4.0, "TOT_MISSED_PMNT": 0.0, "TOT_TL_CLOSED_L12M": 0.0, "TOT_TL_CLOSED_L6M": 0.0, "UNSECURED_TL": 4.0}'

In [14]:
data = conn.cursor().execute("SELECT COUNT(*) FROM CIBILSCORE")
count = data.fetchone()[0]
print(f"Number of rows in CIBILSCORE: {count}")

Number of rows in CIBILSCORE: 51336

In [15]:
data = conn.cursor().execute("SELECT * FROM CIBILSCORE LIMIT 10")
data = data.fetchall()
print(type(data))

<class 'list'>

In [20]:
# Fetch records from Snowflake as a DataFrame
df_snowflake = pd.read_sql("SELECT * FROM CIBILSCORE LIMIT 10", conn)
df_snowflake.head()

C:\Users\16yas\AppData\Local\Temp\ipykernel_64520\3326913654.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_snowflake = pd.read_sql("SELECT * FROM CIBILSCORE LIMIT 10", conn)

,PROSPECTID,TOTAL_TL,TOT_CLOSED_TL,TOT_ACTIVE_TL,TOTAL_TL_OPENED_L6M,TOT_TL_CLOSED_L6M,PCT_TL_OPEN_L6M,PCT_TL_CLOSED_L6M,PCT_ACTIVE_TL,PCT_CLOSED_TL,...,CONSUMER_TL,GOLD_TL,HOME_TL,PL_TL,SECURED_TL,UNSECURED_TL,OTHER_TL,AGE_OLDEST_TL,AGE_NEWEST_TL,RAW_VARIANT
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,...,0,1,0,4,1,4,0,72,18,"{\n ""AGE_NEWEST_TL"": 18,\n ""AGE_OLDEST_TL"": ..."
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,...,1,0,0,0,0,1,0,7,7,"{\n ""AGE_NEWEST_TL"": 7,\n ""AGE_OLDEST_TL"": 7..."
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,...,6,1,0,0,2,6,0,47,2,"{\n ""AGE_NEWEST_TL"": 2,\n ""AGE_OLDEST_TL"": 4..."
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,...,0,0,0,0,0,1,1,5,5,"{\n ""AGE_NEWEST_TL"": 5,\n ""AGE_OLDEST_TL"": 5..."
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,...,0,0,0,0,3,0,2,131,32,"{\n ""AGE_NEWEST_TL"": 32,\n ""AGE_OLDEST_TL"": ..."

In [24]:
# Insert the DataFrame df into the CIBILSCORE table in Snowflake
success, nchunks, nrows, _ = write_pandas(conn, df, 'CIBILSCORE')
print(f"Inserted {nrows} rows into CIBILSCORE (success: {success})")

MissingDependencyError: Missing optional dependency: pandas

AttributeError: 'list' object has no attribute 'to_pandas'

In [22]:
conn.close()  # Close the Snowflake connection